#form {
    max-width: 500px;

    h2 {
        margin-top: 0;
    }
}

input {
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    width: 100%;
}

.input-group {
    padding: 0.8rem;

    &.help {
        opacity: 0.4;
    }
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button, .button {
        width: 48%;
    }
}